{% extends "main.html" %}
{% block content %}
<div class="user_page">
    <div id="Signin">
        <fieldset>
            <legend>
                <h3>Sign-in</h3>

            </legend>
            <p>Enter following information.</p>
            <form action="{{ url_for('login') }}" method="POST">
                <small>Mobile Number:<span style="color: rgb(255, 0, 0);">*</span></small><br>
                <span style="display: flex; padding: 0px; height:45px; width:60%; margin-left:8px;">
                    <span style="width:140px !important;">
                        {% include "countrycode.html" %}
                    </span>
                    <span style="margin: 0;">
                        {% if 'mob_no' in session %}
    <input style="margin: 0;width: 100%;" type="text" placeholder="Enter your Mobile No." name="mob_no" value="{{ session['mob_no'] }}" required><br>
    {% else %}
    <input style="margin: 0;width: 100%;" type="text" placeholder="Enter your Mobile No." name="mob_no" value="" required><br>
    {% endif %}

                    </span>
                </span>
                <input type="submit" value="send-otp">
            </form>
        </fieldset>
    </div>

</div>

{% endblock %}