{% extends "main.html" %}
{% block content %}
<div class="user_page">
    <div id="Signup">
        <fieldset>
            <legend>
                <h3>Sign-up</h3>
            </legend>
            <p>Enter following information.</p>
            <form action="{{ url_for('register') }}" method="POST">
                <small>Name:<span style="color: rgb(255, 0, 0);">*</span></small><br>
                <input type="text" placeholder="Name" name="name"><br>
                <small>Mobile Number:<span style="color: rgb(255, 0, 0);">*</span></small><br>

                    <span style="width:60%; margin-left:8px;">
                    <input style="margin: 0;width: 60%;" type="text" placeholder="Enter your Mobile No." name="mob_no" value="+{{ session['countrycode'] }} {{ session['mob_no'] }}" required disabled="disabled"><br>
                        <input type="submit" formaction="{{ url_for('change_number') }}" formmethod="post" value="change number"><br>
                </span>

                <small>Email Id:<span style="color: rgb(255, 0, 0);">*</span></small><br>
                <input type="text" placeholder="Enter your email Id." name="email" required><br>
                <input type="submit" value="Register">
            </form>
        </fieldset>
    </div>
</div>

{% endblock %}