{% extends "main.html" %}
{% block content %}
<div class="user_page">
<form action="{{ url_for('retry') }}" method="POST">
                <span style="width:60%; margin-left:8px;">
                    <input style="margin: 0;width: 60%;" type="text" placeholder="Enter your Mobile No." name="mob_no" value="+{{ session['countrycode'] }} {{ session['mob_no'] }}" required disabled="disabled"><br>
                </span>
    <input type="submit" value="Resend-Otp">
<!--    <input type="submit" formaction="{{ url_for('login') }}" formmethod="get" value="change number">-->
</form>
<form action="{{ url_for('verification') }}" method="post">
    <input type="text" name="otp" style="width: 160px;">
    <input type="submit" value="verify">
</form>
</div>
{% endblock %}